####################################################################
#
# Files and directories excluded when installed via `--prefer-dist`.
#
# @notice Will also be excluded for Zip downloads of tags.
#
# @link https://git-scm.com/docs/gitattributes#_export_subst
#
######################################################################
/.gitattributes export-ignore
/.github export-ignore
/.gitignore export-ignore
/.idea export-ignore
/bin export-ignore
/patches export-ignore
/dev export-ignore
