<?xml version="1.0" encoding="UTF-8"?>
<!-- Version 1.2.0 -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    colors="true"
    bootstrap="bootstrap.php"
>
    <php>
        <env name="HTTP_HOST" value="wp-unit.loc" />
    </php>
    <testsuites>
        <testsuite name="WP Unit - Self Tests">
            <file>./tests/BootstrapTest.php</file>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
